#nav-cover {
    background-color: #ffffff !important;
}

#nav-belt {
    background-color: #201c1c !important;
    filter: invert(100%);
}

#nav-main {
    background-color: #424242 !important;
    filter: invert(100%);
}
.navLeftFooter {
    background-color: #040018 !important;
    filter: invert(100%);
}

#accountMenu-container #accountMenu-canvas-background.hmenu-dark-bkg-color,
#accountMenu-container #hmenu-canvas-background.hmenu-dark-bkg-color,
#hmenu-container #accountMenu-canvas-background.hmenu-dark-bkg-color,
#hmenu-container #hmenu-canvas-background.hmenu-dark-bkg-color {
    background-color: rgb(254 254 254 / 80%)  !important;
}

.icp-nav-flag,
.icp-flag-3,
.nav-cart-icon,
.navFooterBackToTop,
#nav-logo,
.nav-logo-base,
.nav-sprite,
#nav-logo-sprites {
    filter: invert(100%);
}

